{% layout 'layout.liquid' %} {% block content %}
<div>
  <h2 class="display-6">All Vehicles</h2>
  <div class="row">
    {% for vehicle in vehicles %}
    <div class="card" style="width: 18rem">
      <h5 class="card-header">{{ vehicle.company }}</h5>
      <h6>{{ vehicle.model }}</h6>
      <div class="card-body">
        <p class="card-text">
          The color of this {{ vehicle.model }} is {{ vehicle.color }}
        </p>

        <a href="./mine/{{ vehicle._id }}" class="btn btn-info"
          >View {{ vehicle.model }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
